@using UserActivitiesTestApp.BO.Models
@model UserActivitiesTestApp.BO.Models.ActivityReportViewModel

@{
    ViewData["Title"] = "Activity Report";
}

    <form asp-controller="UserActivityReport" asp-action="RedirectGeneratedUrl" method="get">

        <div class="container">
            <div class="row ">
                <div class="col-xs-6 col-md-4 form-group">
                    <div class="form-group">
                        <label asp-for="RandomUrlStorageViewModel.SelectedDateFrom"></label>
                        <input asp-for="RandomUrlStorageViewModel.SelectedDateFrom" class="form-control" readonly />
                        <span asp-validation-for="RandomUrlStorageViewModel.SelectedDateFrom" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-xs-6 col-md-4 form-group">
                    <div class="form-group">
                        <label asp-for="RandomUrlStorageViewModel.SelectedDateTo"></label>
                        <input asp-for="RandomUrlStorageViewModel.SelectedDateTo" class="form-control" readonly/>
                        <span asp-validation-for="RandomUrlStorageViewModel.SelectedDateTo" class="text-danger"></span>
                    </div>
                </div>
                
            </div>

        </div>

        <table id="activityTable" class="table table-striped table-bordered dt-responsive" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Activity Name</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Time spent</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @if (null != Model.ActivityList)
                {
                    @foreach (var item in Model.ActivityList)
                    {
                        <tr>
                            <td>@item.ActivityName</td>
                            <td>@item.ActivityStart</td>
                            <td>@item.ActivityEnd</td>
                            <td>@item.TimeSpent</td>
                            <td>@item.Description</td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Activity Name</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Time spent</th>
                    <th>Description</th>
                </tr>
            </tfoot>
        </table>


        <div id="modal-placeholder"></div>
    </form>


@section Scripts {
    <!-- For the DataTables grid -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

    <script src="~/js/UserActivitiesTable.js" asp-append-version="true"></script>

}
